body {
  width: 40%;
  margin: 0 auto;
}

input.form-control {
  display: inline;
  width: 90%;
}

h1 {
  text-align: center;
}

input.completeTask {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.checked {
  display: none !important;
}

span.desciption {
  /*border: 1px solid blue;*/
  /*text-align: left;*/
  display: inline;
}

div.filters {
  /*border: 1px solid yellow;*/
  margin: 0 auto;
  width: 100%;
  padding: 2%;
}

div.filters > a  {
  margin: 0 10px;
}
