extends layout
block content
  h1 My Todo List 
  div.container
    div#addTask
      form#addForm(method='POST' action='/alltasks')
        div.form-group.d-flex.justify-content-around
          label(for='newTask')
          input#newTask.form-control(type='text' name='newTask' placeholder='What needs to be done?')
          button#addTaskBtn.btn.btn-info(type='submit') +
    
    div.tasks
      
      button#toggle-all.btn.btn-outline-info.btn-sm.toggle-all(type='checkbox') &#10003
      span  Toggle All
      
      ul#listOfTasks.list-group
        
            
    div.filters(role='group').d-flex.justify-content-center
      a.show-all.btn.btn-outline-info.active(href='#' role='button') All
      a.show-current.btn.btn-outline-info(href='#' role='button') Current
      a.show-completed.btn.btn-outline-info(href='#' role='button') Completed 
      a.clear-completed.btn.btn-outline-info(href='#' role='button') Clear all completed
      
       
    
